openapi: 3.2.0
info:
  title: API.stream Live Project Service API
  description: The Live API enables developers to build video-enabled applications.
  version: '2.1'
servers:
- url: https://live.api.stream/live/v2
security:
- AccessToken: []
tags:
- name: ProjectService
  description: The Project Service operates on a Project.
paths:
  /collection/{collectionId}/project:
    post:
      summary: Create Project
      description: Create a new project
      operationId: ProjectService_CreateProject
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21CreateProjectResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: collectionId
        description: collection which will own this project
        in: path
        required: true
        schema:
          type: string
      tags:
      - ProjectService
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  example:
                    createdBy: Eddie Current
                  title: arbitrary metadata to associate with this project
                rendering:
                  $ref: '#/components/schemas/v21Rendering'
                  default: '{}'
                  title: composition parameters
                encoding:
                  $ref: '#/components/schemas/v21Encoding'
                  default: '{}'
                  title: encoding parameters
                composition:
                  $ref: '#/components/schemas/v21Composition'
                  title: composition/layout source of the broadcast
                maxDuration:
                  type: integer
                  format: int64
                  example: 172800000
                  default: '172800000'
                  title: maximum duration of project broadcasts (ms)
                  maximum: 604800000
                webrtc:
                  $ref: '#/components/schemas/v21WebRtc'
                  title: request webrtc services
                location:
                  $ref: '#/components/schemas/v21LatLong'
                  title: optimal broadcast location (for routing and delay)
        required: true
  /collection/{collectionId}/project/{projectId}:
    get:
      summary: Get Project
      description: Get an existing project
      operationId: ProjectService_GetProject
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21GetProjectResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: collectionId
        description: collection which owns the project
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        description: project id
        in: path
        required: true
        schema:
          type: string
      - name: status
        description: also query project broadcast status.
        in: query
        required: false
        schema:
          type: boolean
          default: 'false'
      tags:
      - ProjectService
    delete:
      summary: Delete Project
      description: Delete a project
      operationId: ProjectService_DeleteProject
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21DeleteProjectResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: collectionId
        description: collection which owns the project
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        description: project id
        in: path
        required: true
        schema:
          type: string
      - name: force
        description: forcibly end broadcast in progress.
        in: query
        required: false
        schema:
          type: boolean
          default: 'false'
      tags:
      - ProjectService
    patch:
      summary: Update Project
      description: Updates a project
      operationId: ProjectService_UpdateProject
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21UpdateProjectResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: collectionId
        description: collection which owns the project
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        description: project id
        in: path
        required: true
        schema:
          type: string
      tags:
      - ProjectService
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                updateMask:
                  type: string
                  example: metadata, maxDuration, rendering.video.frameRate
                  title: fields to update
                  required:
                  - update_mask
                metadata:
                  type: object
                  example:
                    createdBy: Eddie Current
                  title: arbitrary metadata to associate with this project
                rendering:
                  $ref: '#/components/schemas/v21Rendering'
                  title: composition parameters
                encoding:
                  $ref: '#/components/schemas/v21Encoding'
                  title: encoding parameters
                composition:
                  $ref: '#/components/schemas/v21Composition'
                  title: composition/layout source of the broadcast
                maxDuration:
                  type: integer
                  format: int64
                  example: 172800000
                  title: maximum duration of project broadcasts (ms)
                  maximum: 604800000
                webrtc:
                  $ref: '#/components/schemas/v21WebRtc'
                  title: configuration for webrtc services (if requested)
                location:
                  $ref: '#/components/schemas/v21LatLong'
                  title: optimal broadcast location (for routing and delay)
              required:
              - updateMask
        required: true
  /collection/{collectionId}/project/{projectId}/broadcast/snapshot:
    get:
      summary: Get Snapshot
      description: Get a snapshot of the current output frame of the broadcast
      operationId: ProjectService_GetProjectBroadcastSnapshot
      responses:
        '200':
          description: A successful response.
          content:
            image/jpeg:
              schema:
                $ref: '#/components/schemas/v21GetProjectBroadcastSnapshotResponse'
        '401':
          description: The access token provided is not valid
          content:
            image/jpeg:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            image/jpeg:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            image/jpeg:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            image/jpeg:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            image/jpeg:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            image/jpeg:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: collectionId
        description: collection which owns the project
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        description: project id
        in: path
        required: true
        schema:
          type: string
      - name: format
        description: snapshot binary format.
        in: query
        required: false
        schema:
          type: string
          enum:
          - IMAGE_FORMAT_JPEG
      tags:
      - ProjectService
  /collection/{collectionId}/project/{projectId}/broadcast/start:
    put:
      summary: Start Broadcast
      description: Start broadcasting a project
      operationId: ProjectService_StartProjectBroadcast
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21StartProjectBroadcastResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: collectionId
        description: collection which owns the project
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        description: project id
        in: path
        required: true
        schema:
          type: string
      - name: webrtcStart
        description: also start webrtc room.
        in: query
        required: false
        schema:
          type: boolean
          default: 'false'
      tags:
      - ProjectService
  /collection/{collectionId}/project/{projectId}/broadcast/status:
    get:
      summary: Get Broadcast Status
      description: Get the broadcast status of the project
      operationId: ProjectService_GetProjectBroadcastStatus
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21GetProjectBroadcastStatusResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: collectionId
        description: collection which owns the project
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        description: project id
        in: path
        required: true
        schema:
          type: string
      tags:
      - ProjectService
  /collection/{collectionId}/project/{projectId}/broadcast/stop:
    put:
      summary: Stop Broadcast
      description: Stop broadcasting a project
      operationId: ProjectService_StopProjectBroadcast
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21StopProjectBroadcastResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: collectionId
        description: collection which owns the project
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        description: project id
        in: path
        required: true
        schema:
          type: string
      - name: webrtcStop
        description: stop the associated webrtc room,.
        in: query
        required: false
        schema:
          type: boolean
          default: 'false'
      tags:
      - ProjectService
  /collection/{collectionId}/project/{projectId}/webrtc/start:
    put:
      summary: Start WebRTC
      description: Start WebRTC services
      operationId: ProjectService_StartProjectWebRtc
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21StartProjectWebRtcResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: collectionId
        description: collection which owns the project
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        description: project id
        in: path
        required: true
        schema:
          type: string
      tags:
      - ProjectService
  /collection/{collectionId}/project/{projectId}/webrtc/stop:
    put:
      summary: Stop WebRTC
      description: Stop WebRTC services
      operationId: ProjectService_StopProjectWebRtc
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21StopProjectWebRtcResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: collectionId
        description: collection which owns the project
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        description: project id
        in: path
        required: true
        schema:
          type: string
      tags:
      - ProjectService
components:
  schemas:
    v21RenderingQuality:
      type: string
      enum:
      - RENDERING_QUALITY_STANDARD
      - RENDERING_QUALITY_HIGH
      title: rendering quality
    v21AudioEncoding:
      type: object
      properties:
        codec:
          $ref: '#/components/schemas/v21AudioCodec'
          example: AUDIO_CODEC_AAC
          default: AUDIO_CODEC_AAC
          title: audio encoding codec
      title: encoding audio parameters
    v21Source:
      type: object
      properties:
        collectionId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: collection which owns the source
        sourceId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: collection source id
        metadata:
          type: object
          example:
            createdBy: Eddie Current
          title: arbitrary metadata associated with this collection source
        preview:
          $ref: '#/components/schemas/v21PreviewAddress'
          title: preview addresses
        address:
          $ref: '#/components/schemas/v21SourceAddress'
          title: source address
      title: collection live source
    v21AudioCodec:
      type: string
      enum:
      - AUDIO_CODEC_AAC
      title: audio encoding codec
    v21ExternalComposition:
      type: object
      properties:
        url:
          type: string
          example: https://rainmaker.gg/overlay/e67cfd6ad57560962fddcf63611d2834/1
          required:
          - url
      title: compose using an external renderer
      required:
      - url
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties: {}
    v21ImageFormat:
      type: string
      enum:
      - IMAGE_FORMAT_JPEG
      title: image binary format
    v21VideoCodecRateControlMode:
      type: string
      enum:
      - VIDEO_CODEC_RATE_CONTROL_MODE_CBR
      description: '- VIDEO_CODEC_RATE_CONTROL_MODE_CBR: constant bit rate encoding'
      title: video encoding rate control mode
    v21GuestCode:
      type: object
      properties:
        collectionId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: collection which owns the project
        projectId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: project id
        code:
          type: string
          title: the short url code
        url:
          type: string
          title: the short url
        autoDelete:
          type: string
          format: date-time
          title: auto-delete after time
    v21LatLong:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
      title: optimal location of broadcast (to optimize routing and delay)
    v21Destination:
      type: object
      properties:
        collectionId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: collection which owns the project which owns the destination
        projectId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: project which owns the destination
        destinationId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: destination id
        metadata:
          type: object
          example:
            createdBy: Eddie Current
          title: arbitrary metadata associated with this destination
        enabled:
          type: boolean
          example: true
          default: 'true'
          title: is output stream enabled?
        address:
          $ref: '#/components/schemas/v21DestinationAddress'
          title: address of the destination
        timeout:
          type: integer
          format: int64
          example: 5000
          default: '5000'
          title: timeout (ms) to wait before resetting a connection
      title: streaming destination of project
    v21SourceTriggerAction:
      type: string
      enum:
      - SOURCE_TRIGGER_ACTION_IGNORE
      - SOURCE_TRIGGER_ACTION_OR
      description: '- SOURCE_TRIGGER_ACTION_OR: SOURCE_TRIGGER_ACTION_AND = 2;'
      title: boolean logic for trigger
    v21HlsPackaging:
      type: object
      properties:
        lifecycle:
          $ref: '#/components/schemas/v21HlsLifecycle'
          default: '{}'
          title: lifecycle of hls segments
        segmentDuration:
          type: integer
          format: int32
          example: 2000
          default: '2000'
          title: duration of segments in ms
          maximum: 18000
          minimum: 2000
      title: hls packaging options
    v21VideoColorSpace:
      type: string
      enum:
      - VIDEO_COLOR_SPACE_YUV420
      title: rendering color space
    v21VideoEncoding:
      type: object
      properties:
        codec:
          $ref: '#/components/schemas/v21VideoCodec'
          example: VIDEO_CODEC_H264
          default: VIDEO_CODEC_H264
          title: video encoding codec
        rateControl:
          $ref: '#/components/schemas/v21VideoCodecRateControl'
          default: '{}'
          title: video encoding rate control
        profile:
          $ref: '#/components/schemas/v21VideoCodecProfile'
          example: VIDEO_CODEC_PROFILE_HIGH
          default: VIDEO_CODEC_PROFILE_HIGH
          title: video encoding codec profile
      title: encoding video parameters
    v21GetProjectBroadcastStatusResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/v21ProjectBroadcastStatus'
          title: the status of the project broadcast
    v21HostedWebRtc:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
          default: 'true'
          title: enable webrtc services
      title: hosted webrtc configuration
    v21UpdateProjectResponse:
      type: object
      properties:
        project:
          $ref: '#/components/schemas/v21Project'
          title: updated project
        broadcastUpdated:
          type: boolean
          example: true
          title: indicates whether the broadcast was updated as a function of this request
    v21GetProjectBroadcastSnapshotResponse:
      type: object
      properties:
        format:
          $ref: '#/components/schemas/v21ImageFormat'
          example: IMAGE_FORMAT_JPEG
          title: the format of the returned snapshot
        image:
          type: string
          format: byte
          title: the binary snapshot
    v21AudioChannelLayout:
      type: string
      enum:
      - AUDIO_CHANNEL_LAYOUT_STEREO
      title: audio channel layout
    v21VideoCodecProfile:
      type: string
      enum:
      - VIDEO_CODEC_PROFILE_BASELINE
      - VIDEO_CODEC_PROFILE_MAIN
      - VIDEO_CODEC_PROFILE_HIGH
      title: video encoding codec profile
    v21AudioRendering:
      type: object
      properties:
        channelLayout:
          $ref: '#/components/schemas/v21AudioChannelLayout'
          example: AUDIO_CHANNEL_LAYOUT_STEREO
          default: AUDIO_CHANNEL_LAYOUT_STEREO
          title: audio channel layout
      title: composition audio parameters
    v21HlsLifecycleVod:
      type: object
      properties:
        maxDuration:
          type: integer
          format: int32
          example: 0
          default: '0'
          title: max duration of the recording in ms (0 is indefinite)
      title: vod hls lifecycle management
    v21GetProjectResponse:
      type: object
      properties:
        project:
          $ref: '#/components/schemas/v21Project'
          title: the request project
        status:
          $ref: '#/components/schemas/v21ProjectBroadcastStatus'
          title: the status of the project broadcast (if requested)
    v21Encoding:
      type: object
      properties:
        video:
          $ref: '#/components/schemas/v21VideoEncoding'
          default: '{}'
          title: the video parameters of the encoding
        audio:
          $ref: '#/components/schemas/v21AudioEncoding'
          default: '{}'
          title: the audio parameters of the encoding
      title: the parameters of the encoding
    v21VideoCodecRateControl:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/v21VideoCodecRateControlMode'
          example: VIDEO_CODEC_RATE_CONTROL_MODE_CBR
          default: VIDEO_CODEC_RATE_CONTROL_MODE_CBR
        targetBitrate:
          type: integer
          format: int64
          example: '3145728'
          title: video encoding target bitrate (bits/s)
          maximum: 20971520
          minimum: 256000
        maxKeyFrameInterval:
          type: integer
          format: int64
          example: 30
          default: '30'
          title: maximum video encoding key frame interval (frames)
          maximum: 30000
          minimum: 1
      title: video encoding CBR rate control params
    v21RtmpPullAddress:
      type: object
      properties:
        url:
          type: string
          example: rtmp://ingest.fakecompany.com/inbound/abc123
          title: rtmp source url
          required:
          - url
      title: rtmp pull addressing
      required:
      - url
    v21PreviewAddress:
      type: object
      properties:
        webrtc:
          $ref: '#/components/schemas/v21PreviewWebRtcAddress'
          title: 'hls preview address

            optional PreviewHlsPullAddress hls = 1;

            webrtc preview address'
      title: addresses of source previews
    v21DestinationRtmpPushAddress:
      type: object
      properties:
        key:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: rtmp stream key
        url:
          type: string
          example: rtmp://ingest.fakecompany.com
          title: rtmp destination url
          required:
          - url
      title: rtmp push destination address
      required:
      - url
    v21DeleteProjectResponse:
      type: object
      properties:
        broadcastStopped:
          type: boolean
          example: true
          title: was a broadcast stopped
        layoutsDeleted:
          type: integer
          format: int64
          title: the number of associated layouts deleted
    v21StudioSdkComposition:
      type: object
      properties:
        rendererUrl:
          type: string
          example: https://rainmaker.gg/overlay/e67cfd6ad57560962fddcf63611d2834/1
          title: the page to render studio kit with. If set, this takes priority over `version`
        version:
          type: string
          example: latest
          default: latest
          title: the version of the studio kit renderer to use. Ignored if renderer_url is set
      title: compose using the studiosdk renderer
    v21SceneComposition:
      type: object
      properties:
        rendererUrl:
          type: string
          example: https://rainmaker.gg/overlay/e67cfd6ad57560962fddcf63611d2834/1
          title: the url to pass to the studiosdk
        selectedLayoutId:
          type: string
          example: e67cfd6ad57560962fddcf63611d2835
          title: the active "scene" to render
        debug:
          type: boolean
          example: false
          default: 'false'
      title: compose scenes using the browser-based compositor
    v21SourceRtmpPushAddress:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
          default: 'true'
          title: enable source rtmp push address
        key:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: assigned rtmp stream key
          readOnly: true
        url:
          type: string
          example: rtmp://ingest.golightstream.com/api2/7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: assigned rtmp destination url
          readOnly: true
        baseUrl:
          type: string
          example: rtmp://ingest.golightstream.com/api2
          title: base_url without stream key
          readOnly: true
      title: rtmp push source address
    v21Rendering:
      type: object
      properties:
        video:
          $ref: '#/components/schemas/v21VideoRendering'
          default: '{}'
          title: composition video parameters
        audio:
          $ref: '#/components/schemas/v21AudioRendering'
          default: '{}'
          title: composition audio parameters
        quality:
          $ref: '#/components/schemas/v21RenderingQuality'
          example: RENDERING_QUALITY_STANDARD
          default: RENDERING_QUALITY_STANDARD
          title: rendering quality
        targetLatency:
          type: integer
          format: int64
          example: 500
          title: target end-to-end latency (in ms)
          maximum: 5000
          minimum: 100
        complexity:
          type: integer
          format: int32
          example: 0
          default: '0'
          title: estimated composition complexity (where 0 is nominal complexity)
          maximum: 4
          minimum: -4
      title: composition parameters
    v21ProjectBroadcastPhase:
      type: string
      enum:
      - PROJECT_BROADCAST_PHASE_NOT_RUNNING
      - PROJECT_BROADCAST_PHASE_WAITING
      - PROJECT_BROADCAST_PHASE_STARTING
      - PROJECT_BROADCAST_PHASE_RUNNING
      - PROJECT_BROADCAST_PHASE_STOPPING
      - PROJECT_BROADCAST_PHASE_STOPPED
      - PROJECT_BROADCAST_PHASE_ARCHIVED
      description: '- PROJECT_BROADCAST_PHASE_WAITING: broadcast is waiting to be scheduled'
      title: broadcast phase of project
    v21VideoRendering:
      type: object
      properties:
        height:
          type: integer
          format: int64
          example: 720
          default: '720'
          title: canvas height (pixels)
          maximum: 2160
          minimum: 240
        width:
          type: integer
          format: int64
          example: 1280
          default: '1280'
          title: canvas width (pixels)
          maximum: 3840
          minimum: 320
        framerate:
          type: number
          format: float
          example: 30
          default: '30'
          title: canvas frame rate (frames/s)
          maximum: 60
          minimum: 1
        colorSpace:
          $ref: '#/components/schemas/v21VideoColorSpace'
          example: VIDEO_COLOR_SPACE_YUV420
          default: VIDEO_COLOR_SPACE_YUV420
          title: rendering color space
      title: composition video parameters
    v21Project:
      type: object
      properties:
        collectionId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: collection which owns the project
        projectId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: project id
        metadata:
          type: object
          example:
            createdBy: Eddie Current
          title: arbitrary metadata associated with this project
        rendering:
          $ref: '#/components/schemas/v21Rendering'
          default: '{}'
          title: composition parameters
        encoding:
          $ref: '#/components/schemas/v21Encoding'
          default: '{}'
          title: encoding parameters
        sources:
          type: array
          items:
            $ref: '#/components/schemas/v21Source'
          title: collection live sources added to this project
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/v21Destination'
          title: destinations associated with this project
        composition:
          $ref: '#/components/schemas/v21Composition'
          default: '{}'
          title: composition/layout source of the broadcast
        maxDuration:
          type: integer
          format: int64
          example: 172800000
          default: '172800000'
          title: maximum duration (ms) of project broadcasts
          maximum: 604800000
        webrtc:
          $ref: '#/components/schemas/v21WebRtc'
          title: configuration for webrtc services (if requested)
        triggers:
          type: array
          items:
            $ref: '#/components/schemas/v21ProjectTrigger'
          title: external triggers to start and stop this broadcast
        location:
          $ref: '#/components/schemas/v21LatLong'
          title: optional optimal location to start broadcast
        guestCodes:
          type: array
          items:
            $ref: '#/components/schemas/v21GuestCode'
          title: guest codes associated with this project
          readOnly: true
      title: project which owns a broadcast, sources, and destinations
    v21DestinationAddress:
      type: object
      properties:
        rtmpPush:
          $ref: '#/components/schemas/v21DestinationRtmpPushAddress'
          title: rtmp push addressing
        agora:
          $ref: '#/components/schemas/v21DestinationAgoraPushAddress'
          title: Agora addressing
        s3Storage:
          $ref: '#/components/schemas/v21S3StorageAddress'
          title: s3 storage addressing
      title: destination address (select one)
    v21SourceTrigger:
      type: object
      properties:
        sourceId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: the id of the source
          required:
          - source_id
        start:
          $ref: '#/components/schemas/v21SourceTriggerAction'
          example: SOURCE_TRIGGER_ACTION_OR
          default: SOURCE_TRIGGER_ACTION_IGNORE
          title: source should trigger project(s) to start
        stop:
          $ref: '#/components/schemas/v21SourceTriggerAction'
          example: SOURCE_TRIGGER_ACTION_OR
          default: SOURCE_TRIGGER_ACTION_IGNORE
          title: source should trigger project(s) to stop
      title: triggers to indicate what actions to take on the project for a given Source
      required:
      - sourceId
    v21Composition:
      type: object
      properties:
        external:
          $ref: '#/components/schemas/v21ExternalComposition'
          title: compose using an external renderer
        studioSdk:
          $ref: '#/components/schemas/v21StudioSdkComposition'
          title: compose using the studiosdk renderer
        scene:
          $ref: '#/components/schemas/v21SceneComposition'
          default: '{}'
          title: compose scenes using the browser-based compositor
      title: composition source for project (select one)
    v21S3ACL:
      type: string
      enum:
      - S3ACL_PRIVATE
      - S3ACL_PUBLIC_READ
      - S3ACL_PUBLIC_READ_WRITE
      - S3ACL_AUTHENTICATED_READ
      - S3ACL_BUCKET_OWNER_READ
      - S3ACL_BUCKET_OWNER_FULL_CONTROL
    v21VideoCodec:
      type: string
      enum:
      - VIDEO_CODEC_H264
      title: video encoding codec
    v21SourceAddress:
      type: object
      properties:
        rtmpPush:
          $ref: '#/components/schemas/v21SourceRtmpPushAddress'
          title: rtmp push addressing
        srtPush:
          $ref: '#/components/schemas/v21SrtPushAddress'
          title: the srt address to publish to
        rtmpPull:
          $ref: '#/components/schemas/v21RtmpPullAddress'
          title: the rtmp address to pull from
      title: live source address (select one)
    v21ObjectStoragePackaging:
      type: object
      properties:
        hls:
          $ref: '#/components/schemas/v21HlsPackaging'
          default: '{}'
          title: hls format
      title: packaging options for object storage
    v21StartProjectBroadcastResponse:
      type: object
      properties:
        broadcastId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: the id of the broadcast started
    v21HlsLifecycle:
      type: object
      properties:
        vod:
          $ref: '#/components/schemas/v21HlsLifecycleVod'
          default: '{}'
          title: lifecycle of vod
        live:
          $ref: '#/components/schemas/v21HlsLifecycleLive'
          title: lifecycle of live
      title: hls lifecycle management
    v21StartProjectWebRtcResponse:
      type: object
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v21ProjectTrigger:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/v21SourceTrigger'
          title: start/stop project with source
      title: the trigger type (select one)
    v21DestinationAgoraPushAddress:
      type: object
      properties:
        appId:
          type: string
          title: Agora app id
          required:
          - app_id
        channelId:
          type: string
          title: Agora channel id
          required:
          - channel_id
        userId:
          type: string
          title: Agora user id
          required:
          - user_id
      title: Agora push addressing
      required:
      - appId
      - channelId
      - userId
    v21StopProjectWebRtcResponse:
      type: object
    v21Region:
      type: string
      enum:
      - REGION_US_EAST_1
      - REGION_US_EAST_2
      - REGION_US_WEST_1
      - REGION_US_WEST_2
      - REGION_US_CENTRAL_1
      - REGION_AP_SOUTHEAST_1
      - REGION_CA_EAST_1
      - REGION_EU_CENTRAL_1
      - REGION_EU_WEST_1
      description: "- REGION_US_EAST_1: US East\n - REGION_US_WEST_1: US West\n - REGION_US_CENTRAL_1: US Central\n - REGION_AP_SOUTHEAST_1: Asia Pacific Southeast\n - REGION_CA_EAST_1: Canada East\n - REGION_EU_CENTRAL_1: Europe Central\n - REGION_EU_WEST_1: Europe West"
      title: region which is hosting broadcast
    v21StopProjectBroadcastResponse:
      type: object
    v21SrtPushAddress:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
          default: 'true'
          title: enable source srt push address
        streamId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: assigned srt streamid
          readOnly: true
        url:
          type: string
          example: srt://ingest.api.stream?streamid=7132b004-61e8-49c1-8dc8-4bb3269ce6f/7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: assigned srt destination url
          readOnly: true
        baseUrl:
          type: string
          example: srt://ingest.api.stream
          title: base_url without streamid
          readOnly: true
      title: srt push addressing
    v21WebRtc:
      type: object
      properties:
        hosted:
          $ref: '#/components/schemas/v21HostedWebRtc'
          title: hosted webrtc configuration
      title: webrtc service (select one)
    v21HlsLifecycleLive:
      type: object
      properties:
        playlistCount:
          type: integer
          format: int32
          example: 5
          default: '5'
          title: number of entries to advertise in playlist file
          minimum: 2
        fileCount:
          type: integer
          format: int32
          example: 10
          default: '10'
          title: number of files to keep on disk
          minimum: 4
      title: live hls lifecycle management
    v21CreateProjectResponse:
      type: object
      properties:
        project:
          $ref: '#/components/schemas/v21Project'
    v21ProjectBroadcastStatus:
      type: object
      properties:
        collectionId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: collection which owns the project which owns the broadcast
        projectId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: project which owns the broadcast
        broadcastId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        duration:
          type: integer
          format: int64
          example: 300000
          title: broadcast duration (ms)
        start:
          type: string
          format: date-time
          example: '1981-08-01T00:01:00Z'
          title: broadcast start timestamp (ISO8601 UTC)
        stop:
          type: string
          format: date-time
          example: '1981-08-01T00:04:21Z'
          title: broadcast stop timestamp (ISO8601 UTC)
        phase:
          $ref: '#/components/schemas/v21ProjectBroadcastPhase'
          example: PROJECT_BROADCAST_PHASE_UNSPECIFIED
          title: broadcast phase
        region:
          $ref: '#/components/schemas/v21Region'
          example: REGION_US_EAST
          title: region broadcast is located
        datacenter:
          type: string
          example: nyc1
          title: datacenter broadcast is located
      title: broadcast status
    v21PreviewWebRtcAddress:
      type: object
      properties:
        enabled:
          type: boolean
          example: true
          default: 'true'
          title: request rtmp preview
          required:
          - enabled
        displayName:
          type: string
          example: Camera1
          title: the name this source will use in the webrtc room
          required:
          - display_name
        participantId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: the id this source was assigned in the webrtc room
          readOnly: true
      title: webrtc addressing parameters
      required:
      - enabled
      - displayName
    v21S3StorageAddress:
      type: object
      properties:
        region:
          type: string
          example: us-west-1
          title: cloud region
          required:
          - region
        bucket:
          type: string
          example: company
          title: cloud bucket
          required:
          - bucket
        prefix:
          type: string
          example: app
          title: cloud bucket prefix
        accessKey:
          type: string
          title: cloud access key
          required:
          - access_key
        secretKey:
          type: string
          title: cloud secret key
          required:
          - secret_key
        token:
          type: string
          title: token based auth
        tokenDuration:
          type: integer
          format: int32
          title: token duration in ms
        acl:
          $ref: '#/components/schemas/v21S3ACL'
          example: S3ACL_PUBLIC_READ
          title: access control list
        endpoint:
          type: string
          example: fra1.digitaloceanspaces.com
          title: endpoint for non aws s3 destinations
        packaging:
          $ref: '#/components/schemas/v21ObjectStoragePackaging'
          default: '{}'
          title: the format of the files to be written
      required:
      - region
      - bucket
      - accessKey
      - secretKey
  securitySchemes:
    AccessToken:
      type: apiKey
      description: 'Assert your access token into a HTTP Header named ''Authorization: Bearer''<br><pre>curl -H ''Authorization: Bearer bar'' https://live.api.stream/live/v2/collection/foo</pre>'
      name: 'Authorization: Bearer'
      in: header
    ApiKey:
      type: apiKey
      description: Assert your api key into a HTTP Header named 'X-API-Key'<br><pre>curl -H 'X-API-Key:bar' https://live.api.stream/live/v2/collection/foo</pre>
      name: X-API-Key
      in: header
x-tagGroups:
- name: Services
  tags:
  - CollectionService
  - ProjectService
  - SourceService
  - DestinationService
  - AuthenticationService
  - BackendAuthenticationService
  - PublicAuthenticationService
