openapi: 3.2.0
info:
  title: API.stream Live Backend Authentication Service API
  description: The Live API enables developers to build video-enabled applications.
  version: '2.1'
servers:
- url: https://live.api.stream/live/v2
security:
- AccessToken: []
tags:
- name: BackendAuthenticationService
  description: 'The Backend Authentication Service provides token services for partner

    backend systems'
paths:
  /authentication/token:
    post:
      summary: Create Access Token
      description: Create an access token for a session host
      operationId: BackendAuthenticationService_CreateAccessToken
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21CreateAccessTokenResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - BackendAuthenticationService
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v21CreateAccessTokenRequest'
        required: true
components:
  schemas:
    v21CreateAccessTokenResponse:
      type: object
      properties:
        accessToken:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: 'access token for owner to be asserted in subsequent Video and Layout API

            calls'
    v21CreateAccessTokenRequest:
      type: object
      properties:
        serviceUserId:
          type: string
          example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
          title: 'service-specific user id

            ### Usage

            * this should be an opaque GUID with no spaces'
          required:
          - service_user_id
        displayName:
          type: string
        role:
          $ref: '#/components/schemas/v21Role'
          example: ROLE_OWNER
          title: the requested role
        maxDuration:
          type: integer
          format: int64
          example: 172800000
          default: '172800000'
          title: requested duration of token before it expires (ms)
      required:
      - serviceUserId
    v21Role:
      type: string
      enum:
      - ROLE_HOST
      - ROLE_COHOST
      - ROLE_CONTRIBUTOR
      - ROLE_GUEST
      - ROLE_VIEWER
      - ROLE_RENDERER
      - ROLE_PLATFORM
      - ROLE_IMPERSONATE
      title: defined roles
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties: {}
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
  securitySchemes:
    AccessToken:
      type: apiKey
      description: 'Assert your access token into a HTTP Header named ''Authorization: Bearer''<br><pre>curl -H ''Authorization: Bearer bar'' https://live.api.stream/live/v2/collection/foo</pre>'
      name: 'Authorization: Bearer'
      in: header
    ApiKey:
      type: apiKey
      description: Assert your api key into a HTTP Header named 'X-API-Key'<br><pre>curl -H 'X-API-Key:bar' https://live.api.stream/live/v2/collection/foo</pre>
      name: X-API-Key
      in: header
x-tagGroups:
- name: Services
  tags:
  - CollectionService
  - ProjectService
  - SourceService
  - DestinationService
  - AuthenticationService
  - BackendAuthenticationService
  - PublicAuthenticationService
