openapi: 3.2.0
info:
  title: API.stream Live Public Authentication Service API
  description: The Live API enables developers to build video-enabled applications.
  version: '2.1'
servers:
- url: https://live.api.stream/live/v2
security:
- AccessToken: []
tags:
- name: PublicAuthenticationService
  description: The Public Authentication Service provides token verification services
paths:
  /authentication/jwks:
    get:
      summary: Get Public Keys
      description: Get public keys used to sign access tokens
      operationId: PublicAuthenticationService_GetJsonWebKeySet
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21GetJsonWebKeySetResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - PublicAuthenticationService
  /r/{serviceId}/{code}:
    get:
      summary: Exchange Guest Access Token
      description: Exchange a guest access token with updated user identifiers
      operationId: PublicAuthenticationService_GuestCodeRedirect
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v21GuestCodeRedirectResponse'
        '401':
          description: The access token provided is not valid
          content:
            application/json:
              schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          content:
            application/json:
              schema: {}
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema: {}
        '429':
          description: The specified service is busy; please use an exponential backoff on subsequent requests.
          content:
            application/json:
              schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          content:
            application/json:
              schema: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: serviceId
        description: the id of the service
        in: path
        required: true
        schema:
          type: string
      - name: code
        description: the short url code
        in: path
        required: true
        schema:
          type: string
      tags:
      - PublicAuthenticationService
components:
  schemas:
    v21JsonWebKey:
      type: object
      properties:
        alg:
          type: string
        kty:
          type: string
        use:
          type: string
        kid:
          type: string
        e:
          type: string
        n:
          type: string
    v21GetJsonWebKeySetResponse:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/v21JsonWebKey'
          title: public keys used to sign access tokens
    v21GuestCodeRedirectResponse:
      type: object
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties: {}
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
  securitySchemes:
    AccessToken:
      type: apiKey
      description: 'Assert your access token into a HTTP Header named ''Authorization: Bearer''<br><pre>curl -H ''Authorization: Bearer bar'' https://live.api.stream/live/v2/collection/foo</pre>'
      name: 'Authorization: Bearer'
      in: header
    ApiKey:
      type: apiKey
      description: Assert your api key into a HTTP Header named 'X-API-Key'<br><pre>curl -H 'X-API-Key:bar' https://live.api.stream/live/v2/collection/foo</pre>
      name: X-API-Key
      in: header
x-tagGroups:
- name: Services
  tags:
  - CollectionService
  - ProjectService
  - SourceService
  - DestinationService
  - AuthenticationService
  - BackendAuthenticationService
  - PublicAuthenticationService
