swagger: '2.0'
info:
  title: API.stream Live API
  description: The Live API enables developers to build video-enabled applications.
  version: '2.1'
tags:
  - name: CollectionService
    description: |-
      The Collection Service operates on collections, which contain projects and
      collection live sources used in projects.
  - name: ProjectService
    description: The Project Service operates on a Project.
  - name: DestinationService
    description: |-
      The Destination Service operates on Project Destinations. Destinations
      designate where a Broadcast associated with a Project is distributed
      downstream.
  - name: SourceService
    description: >-
      The Source Service operates on Collection Live Sources and Project
      Sources.
  - name: BackendAuthenticationService
    description: |-
      The Backend Authentication Service provides token services for partner
      backend systems
  - name: AuthenticationService
    description: The Authentication Service provides token services for clients
  - name: PublicAuthenticationService
    description: The Public Authentication Service provides token verification services
host: live.api.stream
basePath: /live/v2
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /authentication/jwks:
    get:
      summary: Get Public Keys
      description: Get public keys used to sign access tokens
      operationId: PublicAuthenticationService_GetJsonWebKeySet
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21GetJsonWebKeySetResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - PublicAuthenticationService
  /authentication/token:
    post:
      summary: Create Access Token
      description: Create an access token for a session host
      operationId: BackendAuthenticationService_CreateAccessToken
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21CreateAccessTokenResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v21CreateAccessTokenRequest'
      tags:
        - BackendAuthenticationService
      security:
        - ApiKey: []
    put:
      summary: Refresh Access Token
      description: Forcibly refresh an access token prior to expiration
      operationId: AuthenticationService_RefreshAccessToken
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21RefreshAccessTokenResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v21RefreshAccessTokenRequest'
      tags:
        - AuthenticationService
  /authentication/token/guest:
    post:
      summary: Create Guest Access Token
      description: Create an access token for a guest
      operationId: AuthenticationService_CreateGuestAccessToken
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21CreateGuestAccessTokenResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v21CreateGuestAccessTokenRequest'
      tags:
        - AuthenticationService
  /collection:
    get:
      summary: Get Collections
      description: Get all collections owned by the user
      operationId: CollectionService_GetCollections
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21GetCollectionsResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
        - CollectionService
    post:
      summary: Create Collection
      description: Create a new collection of related projects and collection live sources
      operationId: CollectionService_CreateCollection
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21CreateCollectionResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/v21CreateCollectionRequest'
      tags:
        - CollectionService
  /collection/{collectionId}:
    get:
      summary: Get Collection
      description: |-
        Get an existing collection of related projects and collection live
        sources
      operationId: CollectionService_GetCollection
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21GetCollectionResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection id
          in: path
          required: true
          type: string
        - name: populateProjects
          description: optionally populate projects.
          in: query
          required: false
          type: boolean
          default: 'true'
        - name: populateSources
          description: optionally populate sources.
          in: query
          required: false
          type: boolean
          default: 'true'
      tags:
        - CollectionService
    delete:
      summary: Delete Collection
      description: Delete a collection of related projects and collection live sources
      operationId: CollectionService_DeleteCollection
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21DeleteCollectionResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection id
          in: path
          required: true
          type: string
        - name: force
          description: forcibly end all child project broadcasts in progress.
          in: query
          required: false
          type: boolean
          default: 'false'
      tags:
        - CollectionService
    patch:
      summary: Update Collection
      description: Update select collection document data
      operationId: CollectionService_UpdateCollection
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21UpdateCollectionResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              updateMask:
                type: string
                example: metadata
                title: fields to update
                required:
                  - update_mask
              metadata:
                type: object
                example:
                  createdBy: Eddie Current
                title: arbitrary metadata to associate with this collection
            required:
              - updateMask
      tags:
        - CollectionService
  /collection/{collectionId}/project:
    post:
      summary: Create Project
      description: Create a new project
      operationId: ProjectService_CreateProject
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21CreateProjectResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which will own this project
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              metadata:
                type: object
                example:
                  createdBy: Eddie Current
                title: arbitrary metadata to associate with this project
              rendering:
                $ref: '#/definitions/v21Rendering'
                default: '{}'
                title: composition parameters
              encoding:
                $ref: '#/definitions/v21Encoding'
                default: '{}'
                title: encoding parameters
              composition:
                $ref: '#/definitions/v21Composition'
                title: composition/layout source of the broadcast
              maxDuration:
                type: integer
                format: int64
                example: 172800000
                default: '172800000'
                title: maximum duration of project broadcasts (ms)
                maximum: 604800000
              webrtc:
                $ref: '#/definitions/v21WebRtc'
                title: request webrtc services
              location:
                $ref: '#/definitions/v21LatLong'
                title: optimal broadcast location (for routing and delay)
      tags:
        - ProjectService
  /collection/{collectionId}/project/{projectId}:
    get:
      summary: Get Project
      description: Get an existing project
      operationId: ProjectService_GetProject
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21GetProjectResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project id
          in: path
          required: true
          type: string
        - name: status
          description: also query project broadcast status.
          in: query
          required: false
          type: boolean
          default: 'false'
      tags:
        - ProjectService
    delete:
      summary: Delete Project
      description: Delete a project
      operationId: ProjectService_DeleteProject
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21DeleteProjectResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project id
          in: path
          required: true
          type: string
        - name: force
          description: forcibly end broadcast in progress.
          in: query
          required: false
          type: boolean
          default: 'false'
      tags:
        - ProjectService
    patch:
      summary: Update Project
      description: Updates a project
      operationId: ProjectService_UpdateProject
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21UpdateProjectResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              updateMask:
                type: string
                example: metadata, maxDuration, rendering.video.frameRate
                title: fields to update
                required:
                  - update_mask
              metadata:
                type: object
                example:
                  createdBy: Eddie Current
                title: arbitrary metadata to associate with this project
              rendering:
                $ref: '#/definitions/v21Rendering'
                title: composition parameters
              encoding:
                $ref: '#/definitions/v21Encoding'
                title: encoding parameters
              composition:
                $ref: '#/definitions/v21Composition'
                title: composition/layout source of the broadcast
              maxDuration:
                type: integer
                format: int64
                example: 172800000
                title: maximum duration of project broadcasts (ms)
                maximum: 604800000
              webrtc:
                $ref: '#/definitions/v21WebRtc'
                title: configuration for webrtc services (if requested)
              location:
                $ref: '#/definitions/v21LatLong'
                title: optimal broadcast location (for routing and delay)
            required:
              - updateMask
      tags:
        - ProjectService
  /collection/{collectionId}/project/{projectId}/broadcast/snapshot:
    get:
      summary: Get Snapshot
      description: Get a snapshot of the current output frame of the broadcast
      operationId: ProjectService_GetProjectBroadcastSnapshot
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21GetProjectBroadcastSnapshotResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project id
          in: path
          required: true
          type: string
        - name: format
          description: snapshot binary format.
          in: query
          required: false
          type: string
          enum:
            - IMAGE_FORMAT_JPEG
      tags:
        - ProjectService
      produces:
        - image/jpeg
  /collection/{collectionId}/project/{projectId}/broadcast/start:
    put:
      summary: Start Broadcast
      description: Start broadcasting a project
      operationId: ProjectService_StartProjectBroadcast
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21StartProjectBroadcastResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project id
          in: path
          required: true
          type: string
        - name: webrtcStart
          description: also start webrtc room.
          in: query
          required: false
          type: boolean
          default: 'false'
      tags:
        - ProjectService
  /collection/{collectionId}/project/{projectId}/broadcast/status:
    get:
      summary: Get Broadcast Status
      description: Get the broadcast status of the project
      operationId: ProjectService_GetProjectBroadcastStatus
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21GetProjectBroadcastStatusResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project id
          in: path
          required: true
          type: string
      tags:
        - ProjectService
  /collection/{collectionId}/project/{projectId}/broadcast/stop:
    put:
      summary: Stop Broadcast
      description: Stop broadcasting a project
      operationId: ProjectService_StopProjectBroadcast
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21StopProjectBroadcastResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project id
          in: path
          required: true
          type: string
        - name: webrtcStop
          description: stop the associated webrtc room,.
          in: query
          required: false
          type: boolean
          default: 'false'
      tags:
        - ProjectService
  /collection/{collectionId}/project/{projectId}/destination:
    post:
      summary: Create Destination
      description: Create a new Destination
      operationId: DestinationService_CreateDestination
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21CreateDestinationResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project which owns the destination
          in: path
          required: true
          type: string
        - name: projectId
          description: project which will own this destination
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              metadata:
                type: object
                example:
                  createdBy: Eddie Current
                title: arbitrary metadata associated with this destination
              address:
                $ref: '#/definitions/v21DestinationAddress'
                title: destination address (select one)
              enabled:
                type: boolean
                example: true
                default: 'true'
                title: enable or disable this destination
              timeout:
                type: integer
                format: int64
                example: 5000
                default: '5000'
                title: >-
                  timeout (in milliseconds) to wait before resetting a
                  connection
                maximum: 30000
                minimum: 100
      tags:
        - DestinationService
  /collection/{collectionId}/project/{projectId}/destination/{destinationId}:
    get:
      summary: Get Destination
      description: Get an existing Destination.
      operationId: DestinationService_GetDestination
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21GetDestinationResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project which owns the destination
          in: path
          required: true
          type: string
        - name: projectId
          description: project which owns the destination
          in: path
          required: true
          type: string
        - name: destinationId
          description: destination id
          in: path
          required: true
          type: string
      tags:
        - DestinationService
    delete:
      summary: Delete Destination
      description: Delete a destination
      operationId: DestinationService_DeleteDestination
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21DeleteDestinationResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project which owns the destination
          in: path
          required: true
          type: string
        - name: projectId
          description: project which owns the destination
          in: path
          required: true
          type: string
        - name: destinationId
          description: destination id
          in: path
          required: true
          type: string
        - name: force
          description: forcibly remove destination if enabled.
          in: query
          required: false
          type: boolean
          default: 'false'
      tags:
        - DestinationService
    patch:
      summary: Update Destination
      description: Update a destination
      operationId: DestinationService_UpdateDestination
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21UpdateDestinationResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project which owns the destination
          in: path
          required: true
          type: string
        - name: projectId
          description: project which owns the destination
          in: path
          required: true
          type: string
        - name: destinationId
          description: destination id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              updateMask:
                type: string
                example: metadata, address.rtmpPush.url
                title: fields to update (default updates any non-null field)
                required:
                  - update_mask
              metadata:
                type: object
                example:
                  createdBy: Eddie Current
                title: arbitrary metadata associated with this destination
              address:
                $ref: '#/definitions/v21DestinationAddress'
                title: destination address (select one)
              enabled:
                type: boolean
                example: true
                default: 'true'
                title: enable or disable this destination
              timeout:
                type: integer
                format: int64
                example: 5000
                title: >-
                  timeout (in milliseconds) to wait before resetting a
                  connection
                maximum: 30000
                minimum: 100
            required:
              - updateMask
      tags:
        - DestinationService
  /collection/{collectionId}/project/{projectId}/source/{sourceId}:
    delete:
      summary: Delete Source From Project
      description: Removes a source from a project.
      operationId: SourceService_RemoveSourceFromProject
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21RemoveSourceFromProjectResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: the id of the parent Collection
          in: path
          required: true
          type: string
        - name: projectId
          description: the id of the Project
          in: path
          required: true
          type: string
        - name: sourceId
          description: the id of the Source
          in: path
          required: true
          type: string
        - name: force
          description: delete a live source even if it is in use in a broadcast.
          in: query
          required: false
          type: boolean
          default: 'false'
      tags:
        - SourceService
    put:
      summary: Add Source to Project
      description: Add a source to a project
      operationId: SourceService_AddSourceToProject
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21AddSourceToProjectResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project which will own the source
          in: path
          required: true
          type: string
        - name: sourceId
          description: live source id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              trigger:
                $ref: '#/definitions/v21SourceTrigger'
                title: allow this source to trigger a project broadcast
      tags:
        - SourceService
    patch:
      summary: Update Source
      description: Update attributes of the Source.
      operationId: SourceService_UpdateSourceInProject
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21UpdateSourceInProjectResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project which will own the source
          in: path
          required: true
          type: string
        - name: sourceId
          description: live source id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              updateMask:
                type: string
                example: metadata
                title: fields to update (default updates any non-null field)
                required:
                  - update_mask
              trigger:
                $ref: '#/definitions/v21SourceTrigger'
                title: allow this source to trigger a project broadcast
            required:
              - updateMask
      tags:
        - SourceService
  /collection/{collectionId}/project/{projectId}/webrtc/start:
    put:
      summary: Start WebRTC
      description: Start WebRTC services
      operationId: ProjectService_StartProjectWebRtc
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21StartProjectWebRtcResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project id
          in: path
          required: true
          type: string
      tags:
        - ProjectService
  /collection/{collectionId}/project/{projectId}/webrtc/stop:
    put:
      summary: Stop WebRTC
      description: Stop WebRTC services
      operationId: ProjectService_StopProjectWebRtc
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21StopProjectWebRtcResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project
          in: path
          required: true
          type: string
        - name: projectId
          description: project id
          in: path
          required: true
          type: string
      tags:
        - ProjectService
  /collection/{collectionId}/source:
    get:
      summary: Get Source
      description: Get existing sources in a collection
      operationId: SourceService_GetSources
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21GetSourcesResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project which owns the source
          in: path
          required: true
          type: string
      tags:
        - SourceService
    post:
      summary: Create Collection Live Source
      description: |-
        Create a new live source in a collection
        ### Permissions
        * scope: `SCOPE_VAPI_CREATE`
      operationId: SourceService_CreateSource
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21CreateSourceResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which will own this collection live source
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              metadata:
                type: object
                example:
                  createdBy: Eddie Current
                title: >-
                  arbitrary metadata to associate with this collection live
                  source
              address:
                $ref: '#/definitions/v21SourceAddress'
                title: type of collection live source
              preview:
                $ref: '#/definitions/v21PreviewAddress'
                title: enable real-time previews
      tags:
        - SourceService
  /collection/{collectionId}/source/{sourceId}:
    get:
      summary: Get Source
      description: Get an existing source in a project
      operationId: SourceService_GetSource
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21GetSourceResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project which owns the source
          in: path
          required: true
          type: string
        - name: sourceId
          description: source id
          in: path
          required: true
          type: string
      tags:
        - SourceService
    delete:
      summary: Delete Live Source
      description: Deletes a live source from a collection
      operationId: SourceService_DeleteSource
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21DeleteSourceResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the live source
          in: path
          required: true
          type: string
        - name: sourceId
          description: live source id
          in: path
          required: true
          type: string
        - name: force
          description: delete a live source even if it is in use in a broadcast.
          in: query
          required: false
          type: boolean
          default: 'false'
      tags:
        - SourceService
    patch:
      summary: Update Source
      description: Update attributes of the Source.
      operationId: SourceService_UpdateSource
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21UpdateSourceResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: collectionId
          description: collection which owns the project which owns the source
          in: path
          required: true
          type: string
        - name: sourceId
          description: source id
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              updateMask:
                type: string
                example: metadata
                title: fields to update (default updates any non-null field)
                required:
                  - update_mask
              metadata:
                type: object
                example:
                  createdBy: Eddie Current
                title: arbitrary metadata to associate with this source
              address:
                $ref: '#/definitions/v21SourceAddress'
                title: type of collection live source
              preview:
                $ref: '#/definitions/v21PreviewAddress'
                title: enable real-time previews
            required:
              - updateMask
      tags:
        - SourceService
  /r/{serviceId}/{code}:
    get:
      summary: Exchange Guest Access Token
      description: Exchange a guest access token with updated user identifiers
      operationId: PublicAuthenticationService_GuestCodeRedirect
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v21GuestCodeRedirectResponse'
        '401':
          description: The access token provided is not valid
          schema: {}
        '403':
          description: The access token provided does not have access to specified resource
          schema: {}
        '404':
          description: The specified resource was not found
          schema: {}
        '429':
          description: >-
            The specified service is busy; please use an exponential backoff on
            subsequent requests.
          schema: {}
        '500':
          description: The specified service is unavailable; please try again later
          schema: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: serviceId
          description: the id of the service
          in: path
          required: true
          type: string
        - name: code
          description: the short url code
          in: path
          required: true
          type: string
      tags:
        - PublicAuthenticationService
definitions:
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  protobufNullValue:
    type: string
    description: |-
      `NullValue` is a singleton enumeration to represent the null value for the
      `Value` type union.

       The JSON representation for `NullValue` is JSON `null`.

       - NULL_VALUE: Null value.
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          $ref: '#/definitions/protobufAny'
  v21AddSourceToProjectResponse:
    type: object
    properties:
      project:
        $ref: '#/definitions/v21Project'
        title: updated project
      broadcastUpdated:
        type: boolean
        example: true
        title: >-
          indicates whether the broadcast was updated as a function of this
          request
  v21AudioChannelLayout:
    type: string
    enum:
      - AUDIO_CHANNEL_LAYOUT_STEREO
    title: audio channel layout
  v21AudioCodec:
    type: string
    enum:
      - AUDIO_CODEC_AAC
    title: audio encoding codec
  v21AudioEncoding:
    type: object
    properties:
      codec:
        $ref: '#/definitions/v21AudioCodec'
        example: AUDIO_CODEC_AAC
        default: AUDIO_CODEC_AAC
        title: audio encoding codec
    title: encoding audio parameters
  v21AudioRendering:
    type: object
    properties:
      channelLayout:
        $ref: '#/definitions/v21AudioChannelLayout'
        example: AUDIO_CHANNEL_LAYOUT_STEREO
        default: AUDIO_CHANNEL_LAYOUT_STEREO
        title: audio channel layout
    title: composition audio parameters
  v21Collection:
    type: object
    properties:
      collectionId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: collection id
      metadata:
        type: object
        example:
          createdBy: Eddie Current
        title: arbitrary metadata associated with this collection
      projects:
        type: array
        items:
          $ref: '#/definitions/v21Project'
        title: projects owned by this collection
      sources:
        type: array
        items:
          $ref: '#/definitions/v21Source'
        title: collection live sources owned by this collection
    title: a Collection of Projects and Sources
  v21Composition:
    type: object
    properties:
      external:
        $ref: '#/definitions/v21ExternalComposition'
        title: compose using an external renderer
      studioSdk:
        $ref: '#/definitions/v21StudioSdkComposition'
        title: compose using the studiosdk renderer
      scene:
        $ref: '#/definitions/v21SceneComposition'
        default: '{}'
        title: compose scenes using the browser-based compositor
    title: composition source for project (select one)
  v21CreateAccessTokenRequest:
    type: object
    properties:
      serviceUserId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: |-
          service-specific user id
          ### Usage
          * this should be an opaque GUID with no spaces
        required:
          - service_user_id
      displayName:
        type: string
      role:
        $ref: '#/definitions/v21Role'
        example: ROLE_OWNER
        title: the requested role
      maxDuration:
        type: integer
        format: int64
        example: 172800000
        default: '172800000'
        title: requested duration of token before it expires (ms)
    required:
      - serviceUserId
  v21CreateAccessTokenResponse:
    type: object
    properties:
      accessToken:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: >-
          access token for owner to be asserted in subsequent Video and Layout
          API

          calls
  v21CreateCollectionRequest:
    type: object
    properties:
      metadata:
        type: object
        example:
          createdBy: Eddie Current
        title: arbitrary metadata to associate with this collection
  v21CreateCollectionResponse:
    type: object
    properties:
      collection:
        $ref: '#/definitions/v21Collection'
  v21CreateDestinationResponse:
    type: object
    properties:
      destination:
        $ref: '#/definitions/v21Destination'
        title: the newly created destination
  v21CreateGuestAccessTokenRequest:
    type: object
    properties:
      collectionId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: id of the collection this token is allowed to access
        required:
          - collection_id
      projectId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: id of the project this token is allowed to access
        required:
          - project_id
      maxDuration:
        type: integer
        format: int64
        example: 172800000
        default: '172800000'
        title: requested duration (ms) of token before it expires
      role:
        $ref: '#/definitions/v21Role'
        example: ROLE_GUEST
        title: the requested role of the guest
      token:
        $ref: '#/definitions/v21GuestAccessToken'
        title: the type of token
      url:
        type: string
        example: https://rainmaker.gg/overlay/e67cfd6ad57560962fddcf63611d2834/1
        title: request a shortened url
    required:
      - collectionId
      - projectId
  v21CreateGuestAccessTokenResponse:
    type: object
    properties:
      accessToken:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: access token for guest to be used in subsequent API calls
      url:
        type: string
        title: the shortened url
  v21CreateProjectResponse:
    type: object
    properties:
      project:
        $ref: '#/definitions/v21Project'
  v21CreateSourceResponse:
    type: object
    properties:
      source:
        $ref: '#/definitions/v21Source'
  v21CreateWebRtcAccessTokenResponse:
    type: object
    properties:
      webrtcAccess:
        $ref: '#/definitions/v21WebRtcAccess'
        title: the webrtc token parameters
  v21DeleteCollectionResponse:
    type: object
    properties:
      sourcesDeleted:
        type: integer
        format: int64
        example: 1
        title: number of live sources owned by this collection which were deleted
      projectsDeleted:
        type: integer
        format: int64
        example: 1
        title: number of projects owned by this collection which were deleted
      projectIdsStopped:
        type: array
        example:
          - 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        items:
          type: string
        title: project ids owned by this collection whose broadcasts were stopped
  v21DeleteDestinationResponse:
    type: object
    properties:
      broadcastUpdated:
        type: boolean
        example: true
        title: >-
          indicates whether the broadcast was updated as a function of this
          request
  v21DeleteProjectResponse:
    type: object
    properties:
      broadcastStopped:
        type: boolean
        example: true
        title: was a broadcast stopped
      layoutsDeleted:
        type: integer
        format: int64
        title: the number of associated layouts deleted
  v21DeleteSourceResponse:
    type: object
    properties:
      projectIdsUpdated:
        type: array
        example:
          - 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        items:
          type: string
        title: project ids owned by this collection which were affected
  v21Destination:
    type: object
    properties:
      collectionId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: collection which owns the project which owns the destination
      projectId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: project which owns the destination
      destinationId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: destination id
      metadata:
        type: object
        example:
          createdBy: Eddie Current
        title: arbitrary metadata associated with this destination
      enabled:
        type: boolean
        example: true
        default: 'true'
        title: is output stream enabled?
      address:
        $ref: '#/definitions/v21DestinationAddress'
        title: address of the destination
      timeout:
        type: integer
        format: int64
        example: 5000
        default: '5000'
        title: timeout (ms) to wait before resetting a connection
    title: streaming destination of project
  v21DestinationAddress:
    type: object
    properties:
      rtmpPush:
        $ref: '#/definitions/v21DestinationRtmpPushAddress'
        title: rtmp push addressing
      agora:
        $ref: '#/definitions/v21DestinationAgoraPushAddress'
        title: Agora addressing
      s3Storage:
        $ref: '#/definitions/v21S3StorageAddress'
        title: s3 storage addressing
    title: destination address (select one)
  v21DestinationAgoraPushAddress:
    type: object
    properties:
      appId:
        type: string
        title: Agora app id
        required:
          - app_id
      channelId:
        type: string
        title: Agora channel id
        required:
          - channel_id
      userId:
        type: string
        title: Agora user id
        required:
          - user_id
    title: Agora push addressing
    required:
      - appId
      - channelId
      - userId
  v21DestinationRtmpPushAddress:
    type: object
    properties:
      key:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: rtmp stream key
      url:
        type: string
        example: rtmp://ingest.fakecompany.com
        title: rtmp destination url
        required:
          - url
    title: rtmp push destination address
    required:
      - url
  v21Encoding:
    type: object
    properties:
      video:
        $ref: '#/definitions/v21VideoEncoding'
        default: '{}'
        title: the video parameters of the encoding
      audio:
        $ref: '#/definitions/v21AudioEncoding'
        default: '{}'
        title: the audio parameters of the encoding
    title: the parameters of the encoding
  v21ExternalComposition:
    type: object
    properties:
      url:
        type: string
        example: https://rainmaker.gg/overlay/e67cfd6ad57560962fddcf63611d2834/1
        required:
          - url
    title: compose using an external renderer
    required:
      - url
  v21GetCollectionResponse:
    type: object
    properties:
      collection:
        $ref: '#/definitions/v21Collection'
  v21GetCollectionsResponse:
    type: object
    properties:
      collections:
        type: array
        items:
          $ref: '#/definitions/v21Collection'
        title: all collections owned by this user
  v21GetDestinationResponse:
    type: object
    properties:
      destination:
        $ref: '#/definitions/v21Destination'
        title: the requested destination
  v21GetJsonWebKeySetResponse:
    type: object
    properties:
      keys:
        type: array
        items:
          $ref: '#/definitions/v21JsonWebKey'
        title: public keys used to sign access tokens
  v21GetProjectBroadcastSnapshotResponse:
    type: object
    properties:
      format:
        $ref: '#/definitions/v21ImageFormat'
        example: IMAGE_FORMAT_JPEG
        title: the format of the returned snapshot
      image:
        type: string
        format: byte
        title: the binary snapshot
  v21GetProjectBroadcastStatusResponse:
    type: object
    properties:
      status:
        $ref: '#/definitions/v21ProjectBroadcastStatus'
        title: the status of the project broadcast
  v21GetProjectResponse:
    type: object
    properties:
      project:
        $ref: '#/definitions/v21Project'
        title: the request project
      status:
        $ref: '#/definitions/v21ProjectBroadcastStatus'
        title: the status of the project broadcast (if requested)
  v21GetSourceResponse:
    type: object
    properties:
      source:
        $ref: '#/definitions/v21Source'
  v21GetSourcesResponse:
    type: object
    properties:
      sources:
        type: array
        items:
          $ref: '#/definitions/v21Source'
  v21GuestAccessToken:
    type: object
    properties:
      direct:
        $ref: '#/definitions/v21GuestAccessTokenDirect'
      exchange:
        $ref: '#/definitions/v21GuestAccessTokenExchange'
    title: the type of access token (selec one)
  v21GuestAccessTokenDirect:
    type: object
    properties:
      displayName:
        type: string
        example: Eddy Current
        title: display name of the guest (used to generate webrtc particpant name)
        required:
          - display_name
      serviceUserId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: service-specific user id (used for record auditing purposes)
    title: create an immutable, single-use guest access token
    required:
      - displayName
  v21GuestAccessTokenExchange:
    type: object
    properties:
      maxDuration:
        type: integer
        format: int64
        example: 300000
        default: '300000'
        title: the max duration this token is valid for redemption
    title: create a multi-use guest access token
  v21GuestCode:
    type: object
    properties:
      collectionId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: collection which owns the project
      projectId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: project id
      code:
        type: string
        title: the short url code
      url:
        type: string
        title: the short url
      autoDelete:
        type: string
        format: date-time
        title: auto-delete after time
  v21GuestCodeRedirectResponse:
    type: object
  v21HlsLifecycle:
    type: object
    properties:
      vod:
        $ref: '#/definitions/v21HlsLifecycleVod'
        default: '{}'
        title: lifecycle of vod
      live:
        $ref: '#/definitions/v21HlsLifecycleLive'
        title: lifecycle of live
    title: hls lifecycle management
  v21HlsLifecycleLive:
    type: object
    properties:
      playlistCount:
        type: integer
        format: int32
        example: 5
        default: '5'
        title: number of entries to advertise in playlist file
        minimum: 2
      fileCount:
        type: integer
        format: int32
        example: 10
        default: '10'
        title: number of files to keep on disk
        minimum: 4
    title: live hls lifecycle management
  v21HlsLifecycleVod:
    type: object
    properties:
      maxDuration:
        type: integer
        format: int32
        example: 0
        default: '0'
        title: max duration of the recording in ms (0 is indefinite)
    title: vod hls lifecycle management
  v21HlsPackaging:
    type: object
    properties:
      lifecycle:
        $ref: '#/definitions/v21HlsLifecycle'
        default: '{}'
        title: lifecycle of hls segments
      segmentDuration:
        type: integer
        format: int32
        example: 2000
        default: '2000'
        title: duration of segments in ms
        maximum: 18000
        minimum: 2000
    title: hls packaging options
  v21HostedWebRtc:
    type: object
    properties:
      enabled:
        type: boolean
        example: true
        default: 'true'
        title: enable webrtc services
    title: hosted webrtc configuration
  v21ImageFormat:
    type: string
    enum:
      - IMAGE_FORMAT_JPEG
    title: image binary format
  v21JsonWebKey:
    type: object
    properties:
      alg:
        type: string
      kty:
        type: string
      use:
        type: string
      kid:
        type: string
      e:
        type: string
      'n':
        type: string
  v21LatLong:
    type: object
    properties:
      latitude:
        type: number
        format: double
      longitude:
        type: number
        format: double
    title: optimal location of broadcast (to optimize routing and delay)
  v21ObjectStoragePackaging:
    type: object
    properties:
      hls:
        $ref: '#/definitions/v21HlsPackaging'
        default: '{}'
        title: hls format
    title: packaging options for object storage
  v21PreviewAddress:
    type: object
    properties:
      webrtc:
        $ref: '#/definitions/v21PreviewWebRtcAddress'
        title: |-
          hls preview address
          optional PreviewHlsPullAddress hls = 1;
          webrtc preview address
    title: addresses of source previews
  v21PreviewWebRtcAddress:
    type: object
    properties:
      enabled:
        type: boolean
        example: true
        default: 'true'
        title: request rtmp preview
        required:
          - enabled
      displayName:
        type: string
        example: Camera1
        title: the name this source will use in the webrtc room
        required:
          - display_name
      participantId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: the id this source was assigned in the webrtc room
        readOnly: true
    title: webrtc addressing parameters
    required:
      - enabled
      - displayName
  v21Project:
    type: object
    properties:
      collectionId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: collection which owns the project
      projectId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: project id
      metadata:
        type: object
        example:
          createdBy: Eddie Current
        title: arbitrary metadata associated with this project
      rendering:
        $ref: '#/definitions/v21Rendering'
        default: '{}'
        title: composition parameters
      encoding:
        $ref: '#/definitions/v21Encoding'
        default: '{}'
        title: encoding parameters
      sources:
        type: array
        items:
          $ref: '#/definitions/v21Source'
        title: collection live sources added to this project
      destinations:
        type: array
        items:
          $ref: '#/definitions/v21Destination'
        title: destinations associated with this project
      composition:
        $ref: '#/definitions/v21Composition'
        default: '{}'
        title: composition/layout source of the broadcast
      maxDuration:
        type: integer
        format: int64
        example: 172800000
        default: '172800000'
        title: maximum duration (ms) of project broadcasts
        maximum: 604800000
      webrtc:
        $ref: '#/definitions/v21WebRtc'
        title: configuration for webrtc services (if requested)
      triggers:
        type: array
        items:
          $ref: '#/definitions/v21ProjectTrigger'
        title: external triggers to start and stop this broadcast
      location:
        $ref: '#/definitions/v21LatLong'
        title: optional optimal location to start broadcast
      guestCodes:
        type: array
        items:
          $ref: '#/definitions/v21GuestCode'
        title: guest codes associated with this project
        readOnly: true
    title: project which owns a broadcast, sources, and destinations
  v21ProjectBroadcastPhase:
    type: string
    enum:
      - PROJECT_BROADCAST_PHASE_NOT_RUNNING
      - PROJECT_BROADCAST_PHASE_WAITING
      - PROJECT_BROADCAST_PHASE_STARTING
      - PROJECT_BROADCAST_PHASE_RUNNING
      - PROJECT_BROADCAST_PHASE_STOPPING
      - PROJECT_BROADCAST_PHASE_STOPPED
      - PROJECT_BROADCAST_PHASE_ARCHIVED
    description: '- PROJECT_BROADCAST_PHASE_WAITING: broadcast is waiting to be scheduled'
    title: broadcast phase of project
  v21ProjectBroadcastStatus:
    type: object
    properties:
      collectionId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: collection which owns the project which owns the broadcast
      projectId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: project which owns the broadcast
      broadcastId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
      duration:
        type: integer
        format: int64
        example: 300000
        title: broadcast duration (ms)
      start:
        type: string
        format: date-time
        example: '1981-08-01T00:01:00Z'
        title: broadcast start timestamp (ISO8601 UTC)
      stop:
        type: string
        format: date-time
        example: '1981-08-01T00:04:21Z'
        title: broadcast stop timestamp (ISO8601 UTC)
      phase:
        $ref: '#/definitions/v21ProjectBroadcastPhase'
        example: PROJECT_BROADCAST_PHASE_UNSPECIFIED
        title: broadcast phase
      region:
        $ref: '#/definitions/v21Region'
        example: REGION_US_EAST
        title: region broadcast is located
      datacenter:
        type: string
        example: nyc1
        title: datacenter broadcast is located
    title: broadcast status
  v21ProjectTrigger:
    type: object
    properties:
      source:
        $ref: '#/definitions/v21SourceTrigger'
        title: start/stop project with source
    title: the trigger type (select one)
  v21RefreshAccessTokenRequest:
    type: object
  v21RefreshAccessTokenResponse:
    type: object
  v21Region:
    type: string
    enum:
      - REGION_US_EAST_1
      - REGION_US_EAST_2
      - REGION_US_WEST_1
      - REGION_US_WEST_2
      - REGION_US_CENTRAL_1
      - REGION_AP_SOUTHEAST_1
      - REGION_CA_EAST_1
      - REGION_EU_CENTRAL_1
      - REGION_EU_WEST_1
    description: |-
      - REGION_US_EAST_1: US East
       - REGION_US_WEST_1: US West
       - REGION_US_CENTRAL_1: US Central
       - REGION_AP_SOUTHEAST_1: Asia Pacific Southeast
       - REGION_CA_EAST_1: Canada East
       - REGION_EU_CENTRAL_1: Europe Central
       - REGION_EU_WEST_1: Europe West
    title: region which is hosting broadcast
  v21RemoveSourceFromProjectResponse:
    type: object
    properties:
      project:
        $ref: '#/definitions/v21Project'
        title: updated project
      broadcastUpdated:
        type: boolean
        example: true
        title: >-
          indicates whether the broadcast was updated as a function of this
          request
  v21Rendering:
    type: object
    properties:
      video:
        $ref: '#/definitions/v21VideoRendering'
        default: '{}'
        title: composition video parameters
      audio:
        $ref: '#/definitions/v21AudioRendering'
        default: '{}'
        title: composition audio parameters
      quality:
        $ref: '#/definitions/v21RenderingQuality'
        example: RENDERING_QUALITY_STANDARD
        default: RENDERING_QUALITY_STANDARD
        title: rendering quality
      targetLatency:
        type: integer
        format: int64
        example: 500
        title: target end-to-end latency (in ms)
        maximum: 5000
        minimum: 100
      complexity:
        type: integer
        format: int32
        example: 0
        default: '0'
        title: estimated composition complexity (where 0 is nominal complexity)
        maximum: 4
        minimum: -4
    title: composition parameters
  v21RenderingQuality:
    type: string
    enum:
      - RENDERING_QUALITY_STANDARD
      - RENDERING_QUALITY_HIGH
    title: rendering quality
  v21Role:
    type: string
    enum:
      - ROLE_HOST
      - ROLE_COHOST
      - ROLE_CONTRIBUTOR
      - ROLE_GUEST
      - ROLE_VIEWER
      - ROLE_RENDERER
      - ROLE_PLATFORM
      - ROLE_IMPERSONATE
    title: defined roles
  v21RtmpPullAddress:
    type: object
    properties:
      url:
        type: string
        example: rtmp://ingest.fakecompany.com/inbound/abc123
        title: rtmp source url
        required:
          - url
    title: rtmp pull addressing
    required:
      - url
  v21S3ACL:
    type: string
    enum:
      - S3ACL_PRIVATE
      - S3ACL_PUBLIC_READ
      - S3ACL_PUBLIC_READ_WRITE
      - S3ACL_AUTHENTICATED_READ
      - S3ACL_BUCKET_OWNER_READ
      - S3ACL_BUCKET_OWNER_FULL_CONTROL
  v21S3StorageAddress:
    type: object
    properties:
      region:
        type: string
        example: us-west-1
        title: cloud region
        required:
          - region
      bucket:
        type: string
        example: company
        title: cloud bucket
        required:
          - bucket
      prefix:
        type: string
        example: app
        title: cloud bucket prefix
      accessKey:
        type: string
        title: cloud access key
        required:
          - access_key
      secretKey:
        type: string
        title: cloud secret key
        required:
          - secret_key
      token:
        type: string
        title: token based auth
      tokenDuration:
        type: integer
        format: int32
        title: token duration in ms
      acl:
        $ref: '#/definitions/v21S3ACL'
        example: S3ACL_PUBLIC_READ
        title: access control list
      endpoint:
        type: string
        example: fra1.digitaloceanspaces.com
        title: endpoint for non aws s3 destinations
      packaging:
        $ref: '#/definitions/v21ObjectStoragePackaging'
        default: '{}'
        title: the format of the files to be written
    required:
      - region
      - bucket
      - accessKey
      - secretKey
  v21SceneComposition:
    type: object
    properties:
      rendererUrl:
        type: string
        example: https://rainmaker.gg/overlay/e67cfd6ad57560962fddcf63611d2834/1
        title: the url to pass to the studiosdk
      selectedLayoutId:
        type: string
        example: e67cfd6ad57560962fddcf63611d2835
        title: the active "scene" to render
      debug:
        type: boolean
        example: false
        default: 'false'
    title: compose scenes using the browser-based compositor
  v21Source:
    type: object
    properties:
      collectionId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: collection which owns the source
      sourceId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: collection source id
      metadata:
        type: object
        example:
          createdBy: Eddie Current
        title: arbitrary metadata associated with this collection source
      preview:
        $ref: '#/definitions/v21PreviewAddress'
        title: preview addresses
      address:
        $ref: '#/definitions/v21SourceAddress'
        title: source address
    title: collection live source
  v21SourceAddress:
    type: object
    properties:
      rtmpPush:
        $ref: '#/definitions/v21SourceRtmpPushAddress'
        title: rtmp push addressing
      srtPush:
        $ref: '#/definitions/v21SrtPushAddress'
        title: the srt address to publish to
      rtmpPull:
        $ref: '#/definitions/v21RtmpPullAddress'
        title: the rtmp address to pull from
    title: live source address (select one)
  v21SourceRtmpPushAddress:
    type: object
    properties:
      enabled:
        type: boolean
        example: true
        default: 'true'
        title: enable source rtmp push address
      key:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: assigned rtmp stream key
        readOnly: true
      url:
        type: string
        example: >-
          rtmp://ingest.golightstream.com/api2/7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: assigned rtmp destination url
        readOnly: true
      baseUrl:
        type: string
        example: rtmp://ingest.golightstream.com/api2
        title: base_url without stream key
        readOnly: true
    title: rtmp push source address
  v21SourceTrigger:
    type: object
    properties:
      sourceId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: the id of the source
        required:
          - source_id
      start:
        $ref: '#/definitions/v21SourceTriggerAction'
        example: SOURCE_TRIGGER_ACTION_OR
        default: SOURCE_TRIGGER_ACTION_IGNORE
        title: source should trigger project(s) to start
      stop:
        $ref: '#/definitions/v21SourceTriggerAction'
        example: SOURCE_TRIGGER_ACTION_OR
        default: SOURCE_TRIGGER_ACTION_IGNORE
        title: source should trigger project(s) to stop
    title: >-
      triggers to indicate what actions to take on the project for a given
      Source
    required:
      - sourceId
  v21SourceTriggerAction:
    type: string
    enum:
      - SOURCE_TRIGGER_ACTION_IGNORE
      - SOURCE_TRIGGER_ACTION_OR
    description: '- SOURCE_TRIGGER_ACTION_OR: SOURCE_TRIGGER_ACTION_AND = 2;'
    title: boolean logic for trigger
  v21SrtPushAddress:
    type: object
    properties:
      enabled:
        type: boolean
        example: true
        default: 'true'
        title: enable source srt push address
      streamId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: assigned srt streamid
        readOnly: true
      url:
        type: string
        example: >-
          srt://ingest.api.stream?streamid=7132b004-61e8-49c1-8dc8-4bb3269ce6f/7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: assigned srt destination url
        readOnly: true
      baseUrl:
        type: string
        example: srt://ingest.api.stream
        title: base_url without streamid
        readOnly: true
    title: srt push addressing
  v21StartProjectBroadcastResponse:
    type: object
    properties:
      broadcastId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: the id of the broadcast started
  v21StartProjectWebRtcResponse:
    type: object
  v21StopProjectBroadcastResponse:
    type: object
  v21StopProjectWebRtcResponse:
    type: object
  v21StudioSdkComposition:
    type: object
    properties:
      rendererUrl:
        type: string
        example: https://rainmaker.gg/overlay/e67cfd6ad57560962fddcf63611d2834/1
        title: >-
          the page to render studio kit with. If set, this takes priority over
          `version`
      version:
        type: string
        example: latest
        default: latest
        title: >-
          the version of the studio kit renderer to use. Ignored if renderer_url
          is set
    title: compose using the studiosdk renderer
  v21UpdateCollectionResponse:
    type: object
    properties:
      collection:
        $ref: '#/definitions/v21Collection'
        title: the updated collection
  v21UpdateDestinationResponse:
    type: object
    properties:
      destination:
        $ref: '#/definitions/v21Destination'
        title: updated destination
      broadcastUpdated:
        type: boolean
        example: true
        title: >-
          indicates whether the broadcast was updated as a function of this
          request
  v21UpdateProjectResponse:
    type: object
    properties:
      project:
        $ref: '#/definitions/v21Project'
        title: updated project
      broadcastUpdated:
        type: boolean
        example: true
        title: >-
          indicates whether the broadcast was updated as a function of this
          request
  v21UpdateSourceInProjectResponse:
    type: object
    properties:
      project:
        $ref: '#/definitions/v21Project'
        title: updated project
  v21UpdateSourceResponse:
    type: object
    properties:
      source:
        $ref: '#/definitions/v21Source'
        title: updated source
      broadcastUpdated:
        type: boolean
        example: true
        title: >-
          indicates whether the broadcast was updated as a function of this
          request
  v21VideoCodec:
    type: string
    enum:
      - VIDEO_CODEC_H264
    title: video encoding codec
  v21VideoCodecProfile:
    type: string
    enum:
      - VIDEO_CODEC_PROFILE_BASELINE
      - VIDEO_CODEC_PROFILE_MAIN
      - VIDEO_CODEC_PROFILE_HIGH
    title: video encoding codec profile
  v21VideoCodecRateControl:
    type: object
    properties:
      mode:
        $ref: '#/definitions/v21VideoCodecRateControlMode'
        example: VIDEO_CODEC_RATE_CONTROL_MODE_CBR
        default: VIDEO_CODEC_RATE_CONTROL_MODE_CBR
      targetBitrate:
        type: integer
        format: int64
        example: '3145728'
        title: video encoding target bitrate (bits/s)
        maximum: 20971520
        minimum: 256000
      maxKeyFrameInterval:
        type: integer
        format: int64
        example: 30
        default: '30'
        title: maximum video encoding key frame interval (frames)
        maximum: 30000
        minimum: 1
    title: video encoding CBR rate control params
  v21VideoCodecRateControlMode:
    type: string
    enum:
      - VIDEO_CODEC_RATE_CONTROL_MODE_CBR
    description: '- VIDEO_CODEC_RATE_CONTROL_MODE_CBR: constant bit rate encoding'
    title: video encoding rate control mode
  v21VideoColorSpace:
    type: string
    enum:
      - VIDEO_COLOR_SPACE_YUV420
    title: rendering color space
  v21VideoEncoding:
    type: object
    properties:
      codec:
        $ref: '#/definitions/v21VideoCodec'
        example: VIDEO_CODEC_H264
        default: VIDEO_CODEC_H264
        title: video encoding codec
      rateControl:
        $ref: '#/definitions/v21VideoCodecRateControl'
        default: '{}'
        title: video encoding rate control
      profile:
        $ref: '#/definitions/v21VideoCodecProfile'
        example: VIDEO_CODEC_PROFILE_HIGH
        default: VIDEO_CODEC_PROFILE_HIGH
        title: video encoding codec profile
    title: encoding video parameters
  v21VideoRendering:
    type: object
    properties:
      height:
        type: integer
        format: int64
        example: 720
        default: '720'
        title: canvas height (pixels)
        maximum: 2160
        minimum: 240
      width:
        type: integer
        format: int64
        example: 1280
        default: '1280'
        title: canvas width (pixels)
        maximum: 3840
        minimum: 320
      framerate:
        type: number
        format: float
        example: 30
        default: '30'
        title: canvas frame rate (frames/s)
        maximum: 60
        minimum: 1
      colorSpace:
        $ref: '#/definitions/v21VideoColorSpace'
        example: VIDEO_COLOR_SPACE_YUV420
        default: VIDEO_COLOR_SPACE_YUV420
        title: rendering color space
    title: composition video parameters
  v21WebRtc:
    type: object
    properties:
      hosted:
        $ref: '#/definitions/v21HostedWebRtc'
        title: hosted webrtc configuration
    title: webrtc service (select one)
  v21WebRtcAccess:
    type: object
    properties:
      accessToken:
        type: string
        example: eyJ0eXAiOiJqd3QiLCJhbGciOiJSUzI1NiIsImtpZCI6IkN3dXNNbmZFZl93Nk9
        title: access token for webrtc room
      participantId:
        type: string
        example: 7132b004-61e8-49c1-8dc8-4bb3269ce6f
        title: the id this user was assigned in the webrtc room
        readOnly: true
    title: webrtc access parameters
securityDefinitions:
  AccessToken:
    type: apiKey
    description: >-
      Assert your access token into a HTTP Header named 'Authorization:
      Bearer'<br><pre>curl -H 'Authorization: Bearer bar'
      https://live.api.stream/live/v2/collection/foo</pre>
    name: 'Authorization: Bearer'
    in: header
  ApiKey:
    type: apiKey
    description: >-
      Assert your api key into a HTTP Header named 'X-API-Key'<br><pre>curl -H
      'X-API-Key:bar' https://live.api.stream/live/v2/collection/foo</pre>
    name: X-API-Key
    in: header
security:
  - AccessToken: []
x-tagGroups:
  - name: Services
    tags:
      - CollectionService
      - ProjectService
      - SourceService
      - DestinationService
      - AuthenticationService
      - BackendAuthenticationService
      - PublicAuthenticationService
